## üè™ 1. Shopping Cart System

### Goal:
    Create a shopping cart program that allows users to add items to their cart.
    Stop adding items when the user types "done".

### Steps:

    Ask the user to enter product names.
    
    Add each item to a list.
    
    If user types "done" ‚Üí use break.
    
    Print all items added to the cart.

### Example:

    Enter item: Shirt  
    Enter item: Shoes  
    Enter item: done  
    Items in your cart: ['Shirt', 'Shoes']

In [1]:
cart_llist=[]
while True:
    userinput_items= input('Enter item:')
    if userinput_items.lower()=='done':
        break
    cart_llist.append(userinput_items)

cart_llist

Enter item: Shirt
Enter item: Shoes
Enter item: Done

['Shirt', 'Shoes']

## Student Marks Entry

### Goal:
    Record student marks and skip invalid entries.

### Steps:

    Create an empty list marks = [].
    
    Ask user to enter marks for 5 students.
    
    If marks < 0 or > 100 ‚Üí print ‚ÄúInvalid marks‚Äù and continue.
    
    If user enters -1 ‚Üí stop taking input (break).
    
    Print valid marks and their average.

### Example:

    Enter marks: 90  
    Enter marks: 105 ‚Üí Invalid marks  
    Enter marks: 80  
    Enter marks: -1 ‚Üí stop  
    Valid Marks: [90, 80]  
    Average = 85.0

In [5]:
marksList = []
for i in range(5):
    userinput_marks = int(input(f"Enter marks for student {i+1}: "))
    if userinput_marks == -1:
        break
    if userinput_marks < 0 or userinput_marks > 100:
        print("Invalid Marks")
        continue
    marksList.append(userinput_marks)
if len(marksList) > 0:
    print("Valid Marks:", marksList)
    average = sum(marksList) / len(marksList)
    print("Average:", average)
else:
    print("No Valid marks entered")

Enter marks for student 1:  22
Enter marks for student 2:  99
Enter marks for student 3:  88
Enter marks for student 4:  28
Enter marks for student 5:  -1

Valid Marks: [22, 99, 88, 28]
Average: 59.25

## Class Attendance Tracker

### Goal:
    Track only present students using continue.

### Steps:

    Have a list of students:
    
    students = ["Ali", "Sara", "Ahmed", "Ayesha"]
    
    
    Loop through each student.
    
    Ask "Is <name> present (yes/no)?"
    
    If ‚Äúno‚Äù ‚Üí use continue to skip.
    
    Add only present students to a present_list.

### Example:

    Is Ali present? yes  
    Is Sara present? no  
    Is Ahmed present? yes  
    Is Ayesha present? yes  
    Present Students: ['Ali', 'Ahmed', 'Ayesha']

In [11]:
students = ["Ali", "Sara", "Ahmed", "Ayesha"]
prsent_std=[]
for std in students:
    userinput=input(f'Is {std} Present (yes/no) ?')
    if userinput.lower()=='no':
        continue
    prsent_std.append(std)
print(f'Present Stduents : {prsent_std}')

Is Ali Present (yes/no) ? yes
Is Sara Present (yes/no) ? no
Is Ahmed Present (yes/no) ? yes
Is Ayesha Present (yes/no) ? yes

Present Stduents : ['Ali', 'Ahmed', 'Ayesha']

## Traffic Light System

### Goal:
    Simulate traffic light behavior.

### Task:

    Ask user to input current light color (red, yellow, or green).
    
    Use nested conditions to print what the driver should do.

### Example:

    Enter light color: red
    Stop! Wait for green light.

In [1]:
light = input("Enter light color (red/yellow/green): ").lower()

if light == "red":
    print("Stop! Wait for green light.")
elif light == "yellow":
    print("Get ready! Slow down.")
elif light == "green":
    print("Go! You can move.")
else:
    print("Invalid color!")

Enter light color (red/yellow/green):  red

Stop! Wait for green light.

## üè® 8. Hotel Room Booking

### Goal:
    Manage simple room booking.

### Task:

    Create a list of rooms [101, 102, 103, 104, 105]
    
    Ask user to choose a room.
    
    If room already booked, print ‚ÄúRoom not available.‚Äù
    
    Continue until all rooms are booked.

### Example:

    Available rooms: [101, 102, 103, 104, 105]
    Choose room: 103
    Room 103 booked successfully!

In [3]:
rooms = [101, 102, 103, 104, 105]
booked_rooms = []

while len(booked_rooms) < len(rooms):
    print(f"Available rooms: {[r for r in rooms if r not in booked_rooms]}")
    choice = int(input("Choose room: "))
    if choice in booked_rooms or choice not in rooms:
        print("Room not available.")
        continue
    booked_rooms.append(choice)
    print(f"Room {choice} booked successfully!")

Available rooms: [101, 102, 103, 104, 105]

Choose room:  101

Room 101 booked successfully!
Available rooms: [102, 103, 104, 105]

Choose room:  102

Room 102 booked successfully!
Available rooms: [103, 104, 105]

Choose room:  103

Room 103 booked successfully!
Available rooms: [104, 105]

Choose room:  104

Room 104 booked successfully!
Available rooms: [105]

Choose room:  105

Room 105 booked successfully!

## üìÖ 9. Daily Task Reminder

### Goal:
    Create a daily to-do list.

### Task:

    Ask user to enter 5 tasks.
    
    Print all tasks using a loop.
    
    Then allow user to remove a completed task.

### Example:

    Enter task 1: Study
    Enter task 2: Gym
    Today's Tasks: ['Study', 'Gym', 'Read']
    Enter completed task: Gym
    Remaining Tasks: ['Study', 'Read']

In [5]:
tasks = []
for i in range(5):
    task = input(f"Enter task {i+1}: ")
    tasks.append(task)

print("Today's Tasks:", tasks)
completed = input("Enter completed task: ")
if completed in tasks:
    tasks.remove(completed)

print("Remaining Tasks:", tasks)

Enter task 1:  ml
Enter task 2:  ai
Enter task 3:  ds
Enter task 4:  mad
Enter task 5:  madlab

Today's Tasks: ['ml', 'ai', 'ds', 'mad', 'madlab']

Enter completed task:  ml

Remaining Tasks: ['ai', 'ds', 'mad', 'madlab']

## Fast Food Ordering with Stop Option

### Goal:
    Simulate ordering from a fast food menu.
    Stop ordering when the user says ‚Äústop‚Äù.

### Steps:


    menu = ["Burger", "Pizza", "Fries", "Drink"]
        
    Use a for loop with a large range (like for i in range(100)).
        
    Ask the user to input an item.
        
    If item not in menu ‚Üí continue.
        
    If item == ‚Äústop‚Äù ‚Üí break.
        
    Store valid items and show total order.

### Example:

    Enter item: Burger  
    Enter item: Ice Cream ‚Üí Not on menu  
    Enter item: Fries  
    Enter item: stop  
    Your order: ['Burger', 'Fries']

In [ ]:
menu = ["Burger", "Pizza", "Fries", "Drink"]
order = []

for _ in range(100):
    item = input("Enter item: ")
    if item.lower() == "stop":
        break
    if item not in menu:
        print("Not on menu!")
        continue
    order.append(item)

print("Your order:", order)

## ATM Simulation

### Goal:
    Simulate simple ATM operations using for and stop after 3 tries.

### Steps:

    Set correct PIN = 1234.
    
    Use for i in range(3) for 3 attempts.
    
    If wrong PIN ‚Üí print ‚ÄúTry again‚Äù and continue.
    
    If correct PIN ‚Üí print menu and break.

### Example:

    Enter PIN: 1111 ‚Üí Wrong PIN. Try again.
    Enter PIN: 2222 ‚Üí Wrong PIN. Try again.
    Enter PIN: 1234 ‚Üí Access Granted!

In [ ]:
correct_pin = "5421"

for _ in range(3):
    pin = input("Enter PIN: ")
    if pin != correct_pin:
        print("Wrong PIN. Try again.")
        continue
    print("Access Granted!")
    print("ATM Menu: Withdraw / Deposit / Check Balance")
    break

## Employee List Search

### Goal:
    Find an employee name from the list and stop when found.

### Steps:

    employees = ["Ali", "Sara", "Ahmed", "Ayesha", "Bilal"]
    
    Ask user for name to search.
    
    Loop through employees.
    
    If name found ‚Üí print ‚ÄúFound‚Äù and break.
    
    If not found after loop ‚Üí print ‚ÄúNot found‚Äù.

### Example:

    Enter employee name: Ahmed  
    Employee found in record.

In [ ]:
employees = ["Ali", "Sara", "Ahmed", "Ayesha", "Bilal"]
name = input("Enter employee name: ")

for emp in employees:
    if emp == name:
        print("Employee found in record.")
        break
else:
    print("Employee not found.")

## Bank Transaction Log

### Goal:
    Record 5 transactions and skip invalid amounts.

### Steps:

    Ask the user to enter deposit amounts (positive integers).
    
    If amount <= 0 ‚Üí continue.
    
    If amount > 10000 ‚Üí stop using break.
    
    Print total valid deposits.

Example:

    Enter amount: 500  
    Enter amount: 200  
    Enter amount: -50 ‚Üí Invalid, skipped  
    Enter amount: 12000 ‚Üí Exceeds limit, stop.  
    Valid Deposits: [500, 200]

In [ ]:
deposits = []

for _ in range(5):
    amount = int(input("Enter amount: "))
    if amount <= 0:
        print("Invalid, skipped")
        continue
    if amount > 10000:
        print("Exceeds limit, stop.")
        break
    deposits.append(amount)

print("Valid Deposits:", deposits)

## Car Rental System

### Goal:
    Create a car rental booking system.

### Steps:

    Cars = ["Civic", "Corolla", "City", "Alto"]
    
    Use a for loop to let multiple users book.
    
    If user enters "stop" ‚Üí break.
    
    If car not in list ‚Üí continue (invalid).
    
    Add valid bookings to booked_cars list.

### Example:

    Enter car name: Civic  
    Enter car name: Alto  
    Enter car name: Tesla ‚Üí Not available  
    Enter car name: stop  
    Booked Cars: ['Civic', 'Alto']

In [6]:
cars = ["Civic", "Corolla", "City", "Alto"]
booked_cars = []
for _ in range(100):
    car = input("Enter car name: ")
    if car.lower() == "stop":
        break
    if car not in cars:
        print("Not available")
        continue
    booked_cars.append(car)
print("Booked Cars:", booked_cars)

Enter car name:  stop

Booked Cars: []

## Discount Offer Program

### Goal:
    Offer a discount only for specific items.

### Steps:

    List: items = ["Shoes", "Bag", "Watch", "Shirt", "Jeans"]
    
    Ask user to enter item names.
    
    If item not in list ‚Üí continue
    
    If item == ‚ÄúShoes‚Äù ‚Üí print ‚Äú50% discount!‚Äù
    
    Stop program when user enters "exit" using break.

### Example:
    
    Enter item: Bag ‚Üí Added to cart
    Enter item: Shoes ‚Üí 50% discount!
    Enter item: exit ‚Üí Program ended

In [7]:
items = ["Shoes", "Bag", "Watch", "Shirt", "Jeans"]

while True:
    item = input("Enter item: ")
    if item.lower() == "exit":
        break
    if item not in items:
        continue
    if item == "Shoes":
        print("50% discount!")
    else:
        print(f"{item} added to cart")

Enter item:  shirt
Enter item:  exit

## Course Registration System

### Goal:
    Allow students to register for available courses.

### Steps:

    courses = ["AI", "Python", "Math", "Physics"]
    
    Loop for multiple registrations.
    
    If course not in list ‚Üí print ‚ÄúNot available‚Äù and continue
    
    If user enters ‚Äúexit‚Äù ‚Üí break
    
    Show registered courses.

### Example:

    Enter course: Python  
    Enter course: Biology ‚Üí Not available  
    Enter course: AI  
    Enter course: exit  
    Registered: ['Python', 'AI']

In [12]:
courses = ["AI", "Python", "Math", "Physics"]
registered = []

while True:
    course = input("Enter course: ")
    if course.lower() == "exit":
        break
    if course not in courses:
        print("Not available")
        continue
    registered.append(course)

print("Registered Courses:", registered)

Enter course:  AI
Enter course:  Python
Enter course:  ML

Not available

Enter course:  exit

Registered Courses: ['AI', 'Python']

## Electricity Bill Tracker

### Goal:
    Take user input for monthly bills, stop if user enters 0.

### Steps:

    Loop 12 times for months.
    
    If bill = 0 ‚Üí break
    
    Add valid bills to list.
    
    Print total and average.

### Example:

    Enter bill for month 1: 1500  
    Enter bill for month 2: 1800  
    Enter bill for month 3: 0 ‚Üí Stop  
    Total = 3300, Average = 1650.0

In [13]:
bills = []

for month in range(1, 13):
    bill = int(input(f"Enter bill for month {month}: "))
    if bill == 0:
        break
    bills.append(bill)

total = sum(bills)
average = total / len(bills) if bills else 0
print("Total =", total, "Average =", average)

Enter bill for month 1:  30000
Enter bill for month 2:  400000
Enter bill for month 3:  100000
Enter bill for month 4:  40000
Enter bill for month 5:  35470
Enter bill for month 6:  435
Enter bill for month 7:  3456
Enter bill for month 8:  456
Enter bill for month 9:  34566
Enter bill for month 10:  232
Enter bill for month 11:  5555
Enter bill for month 12:  231

Total = 650401 Average = 54200.083333333336

## School Marks Report
### Goal:

    Take input for multiple students‚Äô marks in 3 subjects and calculate their total and average.

### Steps:

    Outer loop ‚Üí for each student (3 students).
    
    Inner loop ‚Üí take marks for 3 subjects.
    
    Store each student‚Äôs total in a list.
    
    Print all totals and class average.

### Example:
    Enter marks for Student 1:
    Subject 1: 80
    Subject 2: 75
    Subject 3: 90
    Enter marks for Student 2:
    Subject 1: 60
    Subject 2: 70
    Subject 3: 65
    ‚Üí Output: [245, 195]

In [14]:
students_total = []

for s in range(3):
    print(f"Enter marks for Student {s+1}:")
    total = 0
    for subj in range(3):
        mark = int(input(f"Subject {subj+1}: "))
        total += mark
    students_total.append(total)

print("Totals:", students_total)
print("Class Average:", sum(students_total)/len(students_total))

Enter marks for Student 1:

Subject 1:  44
Subject 2:  88
Subject 3:  33

Enter marks for Student 2:

Subject 1:  33
Subject 2:  44
Subject 3:  66

Enter marks for Student 3:

Subject 1:  88
Subject 2:  66
Subject 3:  55

Totals: [165, 143, 209]
Class Average: 172.33333333333334

## Shop Sales Tracker
### Goal:

    Track daily sales of 3 products over 5 days and calculate the total revenue.

### Steps:

    Outer loop ‚Üí iterate over 5 days.
    
    Inner loop ‚Üí take sales amount for 3 products each day.
    
    Store daily total in a list.
    
    If any product sale = 0 ‚Üí continue (skip that product).
    
    Print all daily totals and grand total.

### Example:
    Day 1:
    Product 1: 200
    Product 2: 150
    Product 3: 0 ‚Üí skipped
    Day 2:
    Product 1: 300
    Product 2: 250
    Product 3: 400
    ‚Üí Daily Totals = [350, 950], Grand Total = 1300

In [16]:
daily_totals = []
grand_total = 0

for day in range(1, 6):
    print(f"Day {day}:")
    day_total = 0
    for prod in range(3):
        sale = int(input(f"Product {prod+1}: "))
        if sale == 0:
            continue
        day_total += sale
    daily_totals.append(day_total)
    grand_total += day_total

print("Daily Totals:", daily_totals)
print("Grand Total:", grand_total)

Day 1:

Product 1:  1
Product 2:  3
Product 3:  4

Day 2:

Product 1:  1
Product 2:  3
Product 3:  4

Day 3:

Product 1:  5
Product 2:  6
Product 3:  4

Day 4:

Product 1:  2
Product 2:  1
Product 3:  3

Day 5:

Product 1:  4
Product 2:  5
Product 3:  6

Daily Totals: [8, 8, 15, 6, 15]
Grand Total: 52

## Student Attendance Tracker
### Goal:

    Record attendance (Present/Absent) for multiple classes and students.

### Steps:

    Outer loop ‚Üí each class (2 classes).
    
    Inner loop ‚Üí each student (3 students).
    
    Store "P" or "A" in a nested list.

    Print full attendance chart.

### Example:
    Class 1:
    Student 1 (P/A): P
    Student 2 (P/A): A
    Student 3 (P/A): P
    Class 2:
    Student 1 (P/A): P
    Student 2 (P/A): P
    Student 3 (P/A): P
    Output: [['P', 'A', 'P'], ['P', 'P', 'P']]

In [ ]:
attendance = []

for c in range(2):
    class_attendance = []
    print(f"Class {c+1}:")
    for s in range(3):  
        status = input(f"Student {s+1} (P/A): ").upper()
        class_attendance.append(status)
    attendance.append(class_attendance)

print("Attendance Chart:", attendance)

## Cinema Seat Booking System
### Goal:

    Take user input for seat availability across rows and columns, and mark booked seats.

### Steps:

    Outer loop ‚Üí for each row (3 rows).
    
    Inner loop ‚Üí for 5 seats in that row.
    
    Ask if seat is booked (Y/N).
    
    If booked ‚Üí add ‚ÄúBooked‚Äù else ‚ÄúAvailable‚Äù.
    
    Store in nested list and print seating chart.

### Example:
    Row 1:
    Seat 1 (Y/N): Y
    Seat 2 (Y/N): N
    Seat 3 (Y/N): Y
    Seat 4 (Y/N): N
    Seat 5 (Y/N): N
    Row 2:
    Seat 1 (Y/N): Y
    Seat 2 (Y/N): Y
    Seat 3 (Y/N): Y
    Seat 4 (Y/N): Y
    Seat 5 (Y/N): N
    
    Output:
    [['Booked','Available','Booked','Available','Available'],
     ['Booked','Booked','Booked','Booked','Available']]

In [17]:
seats_chart = []

for r in range(3):
    row = []
    print(f"Row {r+1}:")
    for s in range(5):
        booked = input(f"Seat {s+1} (Y/N): ").upper()
        row.append("Booked" if booked == "Y" else "Available")
    seats_chart.append(row)

print("Seating Chart:", seats_chart)

Row 1:

Seat 1 (Y/N):  n
Seat 2 (Y/N):  y
Seat 3 (Y/N):  y
Seat 4 (Y/N):  y
Seat 5 (Y/N):  y

Row 2:

Seat 1 (Y/N):  no
Seat 2 (Y/N):  n
Seat 3 (Y/N):  n
Seat 4 (Y/N):  n
Seat 5 (Y/N):  n

Row 3:

Seat 1 (Y/N):  n
Seat 2 (Y/N):  n
Seat 3 (Y/N):  n
Seat 4 (Y/N):  n
Seat 5 (Y/N):  n

Seating Chart: [['Available', 'Booked', 'Booked', 'Booked', 'Booked'], ['Available', 'Available', 'Available', 'Available', 'Available'], ['Available', 'Available', 'Available', 'Available', 'Available']]

## Multiplication Table Generator
### Goal:

    Generate multiplication tables for multiple numbers using nested loops.

### Steps:

    Outer loop ‚Üí for numbers (2 to 5).
    
    Inner loop ‚Üí multiply each number by 1‚Äì10.
    
    Print table for each number.
    
    Skip number 4 using continue.

### Example:
    2 √ó 1 = 2  
    ...  
    2 √ó 10 = 20  
    3 √ó 1 = 3  
    ...  
    (skip 4)  
    5 √ó 1 = 5  
    ...  
    5 √ó 10 = 50

In [18]:
for num in range(2, 6):
    if num == 4:
        continue
    print(f"Multiplication Table of {num}")
    for i in range(1, 11):
        print(f"{num} x {i} = {num*i}")
    print()

Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Hotel Room Booking Tracker
### Goal:

    Record bookings for rooms on each floor.

### Steps:

    Outer loop ‚Üí for 3 floors.
    
    Inner loop ‚Üí for 4 rooms per floor.
    
    Ask user if booked (Y/N).
    
    Count total booked and available rooms.
    
    Print summary per floor.

### Example:
    Floor 1:
    Room 1: Y
    Room 2: N
    Room 3: N
    Room 4: Y
    Floor 2:
    Room 1: Y
    Room 2: Y
    Room 3: Y
    Room 4: Y
    ‚Üí Output: Floor 1 = 2 booked, Floor 2 = 4 booked

In [19]:
for floor in range(1, 4):
    booked = 0
    print(f"Floor {floor}:")
    for room in range(1, 5):
        status = input(f"Room {room} (Y/N): ").upper()
        if status == "Y":
            booked += 1
    print(f"Floor {floor} = {booked} booked")

Floor 1:

Room 1 (Y/N):  n
Room 2 (Y/N):  m
Room 3 (Y/N):  n
Room 4 (Y/N):  n

Floor 1 = 0 booked
Floor 2:

Room 1 (Y/N):  n
Room 2 (Y/N):  n
Room 3 (Y/N):  n
Room 4 (Y/N):  y

Floor 2 = 1 booked
Floor 3:

Room 1 (Y/N):  y
Room 2 (Y/N):  y
Room 3 (Y/N):  y
Room 4 (Y/N):  y

Floor 3 = 4 booked

## Invoice Tax Calculator
### Goal:

Take multiple items in multiple invoices and calculate tax per invoice.

### Steps:

Outer loop ‚Üí for 3 invoices.

Inner loop ‚Üí 4 items each.

Input item price, add to list.

Calculate total + 10% tax.

Print invoice total.

### Example:
    Invoice 1:
    Items: [100, 200, 300, 400]
    Invoice 2:
    Items: [250, 150, 350, 250]
    ‚Üí Totals: [1100, 1100]

In [20]:
for inv in range(1, 4):
    items = []
    print(f"Invoice {inv}:")
    for i in range(4):
        price = float(input(f"Item {i+1} price: "))
        items.append(price)
    total = sum(items) * 1.10  # 10% tax
    print(f"Invoice {inv} Total: {total}")

Invoice 1:

Item 1 price:  100
Item 2 price:  2
Item 3 price:  33
Item 4 price:  44

Invoice 1 Total: 196.9
Invoice 2:

Item 1 price:  56
Item 2 price:  54
Item 3 price:  33
Item 4 price:  222

Invoice 2 Total: 401.50000000000006
Invoice 3:

Item 1 price:  55
Item 2 price:  66
Item 3 price:  77
Item 4 price:  65

Invoice 3 Total: 289.3

## Student Result Sheet
### Goal:

    Generate report cards for each student in a class.

### Steps:

    Outer loop ‚Üí 5 students.
    
    Inner loop ‚Üí 4 subjects.

    If marks < 33 ‚Üí print ‚ÄúFailed in Subject‚Äù.

    Calculate total and grade per student.

### Example:
    Student 1: [80, 90, 70, 85] ‚Üí Grade: A  
    Student 2: [50, 32, 45, 40] ‚Üí Failed in Subject 2

In [ ]:
for s in range(5):
    marks = []
    total = 0
    print(f"Student {s+1}:")
    for subj in range(4):
        mark = int(input(f"Subject {subj+1}: "))
        marks.append(mark)
        total += mark
        if mark < 33:
            print(f"Failed in Subject {subj+1}")
    grade = "A" if total/4 >= 80 else "B" if total/4 >= 60 else "C"
    print(f"Total: {total}, Grade: {grade}")

## Holiday Package Evaluator
### Goal:

Compare multiple travel packages across features like hotel, transport, food.

### Steps:

Outer loop ‚Üí 3 packages.

Inner loop ‚Üí 3 features.

Input rating out of 5.

Skip if rating = 0.

Print average rating per package.

### Example:
Package 1: [4, 5, 5] ‚Üí Avg = 4.67  
Package 2: [3, 4, 0] ‚Üí Avg = 3.5

In [21]:
for pkg in range(1, 4):
    ratings = []
    print(f"Package {pkg}:")
    for feat in range(3):
        rating = int(input(f"Feature {feat+1} rating (0-5): "))
        if rating == 0:
            continue
        ratings.append(rating)
    avg = sum(ratings)/len(ratings) if ratings else 0
    print(f"Average rating for Package {pkg}: {avg}")

Package 1:

Feature 1 rating (0-5):  4
Feature 2 rating (0-5):  5
Feature 3 rating (0-5):  4

Average rating for Package 1: 4.333333333333333
Package 2:

Feature 1 rating (0-5):  5
Feature 2 rating (0-5):  5
Feature 3 rating (0-5):  5

Average rating for Package 2: 5.0
Package 3:

Feature 1 rating (0-5):  4
Feature 2 rating (0-5):  3
Feature 3 rating (0-5):  2

Average rating for Package 3: 3.0